*{ 
     user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    text-align: center;
    height: 100%;
}
body{
    background: #c3c0d1;
    display: grid;
    place-items: center;
}
.calculatrice{
    width: 330px;
    background: #120f1f;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: -3px -3px 5px #504b69;
}
.resultat{
    height: 70px;
    width: 100%;
    background: #120f1f;
    box-shadow: inset -3px -3px 5px #221d3b, inset 3px 3px 5px;
}
.resultat input{
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 1rem;
    color: #c9c7d1;
    font-size: 20px;
    /*text-align: ;*/
    outline: none;
    font-weight: 500px;
    box-shadow: -1px -1px 7px #221d3b, inset 1px 1px 5px #00000070;
}
.buttons{
    padding: 30px 0 0 0;
    text-align: center;

}
input[type="button"]{
    width:56px;
    height: 56px;
    margin: 4px;
    font-size: 19px;
    background-color: #120f1f;
    color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
}
.reset{
    width: 100px;
    font-size: 8px;
}
